.projects-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 11vh;
}

.projects-tabs {
    position: absolute;
    top: 0.5vh;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 2vw;
    margin: 4vh 0 0 0;
    width: 25vw;
}

.projects-tabs ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
}

.projects-tabs li {
    width: 7vw;
    padding: 0.5vh;
    text-align: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0.2vw 1vh 20px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    font-size: 1.2rem;
    font-family: var(--para-font-family);
    color: var(--intro-text-color);
    cursor: pointer;
}

.projects-container {
    position: absolute;
    top: 13vh;
    margin: 0 5vw 0 5vw;
}

.card-container {
    position: relative;
}

.card {
    background: rgba(255,255,255,0.2);
    border-radius: 1vw;
    height: 35vh;
    padding: 0 1vw 0 1vw;
    text-wrap: wrap;
    color: var(--intro-text-color);
    padding: 1vw;
    transition: opacity 0.3s ease;
}

.card h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 1vh 0;
}

.card span {
    font-size: 1rem;
    background-color: var(--home-screen-text-color);
    border-radius: 2vw;
}

.tech-stack .MuiChip-filled {
    margin: 0 0.5vw 1.2vh 0;
}

.card p {
    font-size: 1.3rem;
    font-weight: 400;
}

.card-overlay {
    display: none;
    height: 35vh;
    width: 29vw;
    border-radius: 1vw;
    background: rgba(255,255,255,0.2);
    transition: opacity 0.3s ease;
}

.overlay-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.unavailable-link {
    font-size: 2rem;
    color: var(--intro-text-color);
}

.card-container:hover .card {
    display: none;
}
  
.card-container:hover .card-overlay {
    display: block;
}