.home-layout {
    height: 100vh;
    background-color: var(--home--screen-bg);
    overflow: hidden;
}

.MuiTab-root {
    color: var(--home-screen-text-color) !important;
}

.Mui-selected {
    color: black !important;
}

.MuiTab-root:hover {
    color: black !important;
}