.contact-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-portrait {
    position: absolute;
    top: 13vh;
}

.contact-content-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 75vh;
    left: 20vw;
}

.git {
    font-family: var(--para-font-family);
    font-size: 3.5rem;
    color: var(--home-screen-text-color);
    margin: 0 0 1vh 0;
}

.mail {
    font-family: var(--para-font-family);
    font-size: 2rem;
    text-decoration: none;
    color: var(--home-screen-text-color);
    background: rgba(255,255,255,0.2);
    border-radius: 50vw;
    padding: 1vh;
    margin: 0;
}

.contact-content-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 75vh;
    right: 20vw;
}

.also {
    font-family: var(--para-font-family);
    font-size: 3.5rem;
    color: var(--home-screen-text-color);
    margin: 0 0 1vh 0;
}