@import url('https://fonts.cdnfonts.com/css/st-remona-neue');

.intro-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 22rem;
    font-family: 'ST Remona Neue', sans-serif;
    color: #A1E3D8;
    background: #005555;
}