

.intro-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 22rem;
    font-family: 'Belanosima', sans-serif;
    color: var(--intro-text-color);
    background: var(--intro-bg-color);
}