:root{
    --intro-bg-color: #1B3C53;
    --intro-text-color: #D2C1B6;
    --home-screen-bg: #456882;
    --home-screen-text-color: #F9F3EF;
    --name-font-family: 'Nexa', sans-serif;
    --para-font-family: 'Capriola', sans-serif;
}

#root {
    background-color: var(--intro-bg-color);
    height: 100vh;
}